/*********************
GENERAL
**********************/


a {
	text-decoration: none;
}
ul li {
	list-style: none;
}
#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

body {
	font-family: 'Poiret One', sans-serif;
}

/* links */
a {
	color: #59323C;
}

/* site body */
body {
	background-color: #F2EEB3;
}

img {
	max-width: 100%;
}

h2 {
	margin: 0 0 1em, 0;
}

ul {
	padding: 0;
}
/*********************
HEADING
**********************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
	text-align: center;
}

#logo {
	margin: 0;
	color: #59323C;
}

h1 {
	font-family: 'Poiret One', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: bold;
	line-height: 0.8em;
}

h3 {
	font-family: 'Poiret One', sans-serif;
	font-size: 1em;
	
}
	

/*********************
NAVIGATION
**********************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: bold;
	padding: 15px 10px;
}
/*********************
FOOTER
**********************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #bd0bbd;
	background-color: #eee;
}

.social-icon {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}



/*********************
PAGE PORTFOLIO
**********************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #F2EEB3;
	color: #260126;
}

#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #260126;
}


/*********************
PAGE: ABOUT;
**********************/

.profile-picture {
	display: block;
	max-width: 150px;
	margin: 0 auto 50px;
	border-radius: 100%;
	float: left;
}

/*********************
PAGE: CONTACT
**********************/

.contact-info {
	margin: 0;
	font-size: 0.9em;
}

.contact-info li.e-mail a {
	background-image: url(https://dummyimage.com/20X20/bd0bbd/fff.jpg);
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}
/*********************
COLORS
**********************/


/* beige header */
header {
	background: #BFAF80;
	border-color: #8C6954;
}

/* nav background on mobile */
nav {
	background: #BFAF80;
}

/* color for a nav link */
nav a, nav a:visited{
	color: ffffff;
}

/* selected nav link */
nav a.selected, nav a:hover {
	color: #260126;
}


